body {
  padding-top: 60px;
  font: 20px Montserrat;

}

.navbar {
  position: fixed;
  top: 0;
  width:100%;
  z-index: 15;

}

footer {
  position: fixed;
  bottom: 0;
  font-size: 12px;
  padding-top:15px;
}

th, td {
  padding: 10px;
}

thead {
  background-color: steelblue;
  color: white;
  font-weight: bold;
}

thead:hover {
  color:white;
}

.form-group {
  padding: 5px;
}

.buttonDiv {
  padding: 20px;
}

.PT {
  text-align: right;
}

.bg-1 {
  background-color: #474e5d;
  color: #ffffff;
}

.heading1 {
  margin: 20px;
}

.bio-data {
  padding:15px;
}

#emailLink{
  color:black;

}

/** tablesort CSS courtesy of tristen; https://github.com/tristen/tablesort/blob/gh-pages/tablesort.css **/
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}
